ul {
  margin-bottom: 0 !important;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.h1,
.h2,
.h3,
h1,
h2,
h3,
p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.pb-10 {
  padding-bottom: 10px;
}

.main-header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .main-header-desktop {
    display: none;
  }
}

.menu-main ul li a::before,
.menu-main ul li .link::before {
  bottom: -3px;
  height: 2.5px;
}

.logo .heading4 img {
  height: 50px;
}

.bg-green {
  background-color: rgba(131, 83, 203, 0.19);
}

.pb-20 {
  padding-bottom: 20px;
}

.d-none {
  display: none;
}

.pt-40 {
  padding-bottom: 40px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mainTitle {
  font-size: 36px;
}

.pt-5 {
  padding-top: 5px;
}

.modal-open {
  padding-right: 0px !important;
  /* or auto-calculated */
}

.grid-three-sec-inner .grid-three-sec-common .grid-three-sec-block {
  padding-bottom: 40px;
  text-align: center;
}
.grid-three-sec-inner .grid-three-sec-common .grid-three-sec-block .loader span {
  font-size: 150px;
  font-weight: 900;
  background-clip: text;
  background-image: linear-gradient(121.84deg, #ff7fba 13.8%, #fad6b4 69.15%);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
}
.grid-three-sec-inner .grid-three-sec-common .grid-three-sec-block h3 {
  font-size: 30px;
  font-weight: 700;
}

.product_sec .product-infor {
  text-align: center;
}
.product_sec .product-infor .product-price-block {
  justify-content: center;
  padding: 3px 0px;
}
.product_sec .product-infor .product-name {
  padding: 10px 0px;
  font-size: 22px;
}
.product_sec .tax-details {
  font-size: 14px;
  padding-top: 10px;
}
.product_sec .cart_btn_wrapper {
  padding-top: 20px;
}
.product_sec .cart_btn_wrapper .cart_btn {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 9px 20px;
  width: 100%;
}

.product-swiper .swiper-button-prev {
  top: -50px !important;
  right: 40px;
  left: unset !important;
}
.product-swiper .swiper-button-next {
  top: -50px !important;
  right: 0;
  left: unset !important;
}

.footer .footer-main .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer .footer-main .grid-wrapper .left_content_wrapper {
  max-width: 340px;
}
.footer .footer-main .left_grid {
  background-color: #e8e0f5;
  padding: 50px 50px;
}
.footer .footer-main .left_grid .viamslogo_wrapper img {
  height: 70px;
}
.footer .footer-main .left_grid .mydopalogo_wrapper {
  padding: 30px 0px;
}
.footer .footer-main .left_grid .mydopalogo_wrapper img {
  width: 210px;
}
.footer .footer-main .left_grid .footerDescription {
  padding: 20px 0px;
}
.footer .footer-main .right_grid {
  padding: 50px 50px;
  background-color: #8353cb;
}
.footer .footer-main .right_grid .whiteText {
  color: #fff;
  max-width: 310px;
}
.footer .footer-main .right_grid .yellowText {
  color: #c2c0b0;
  max-width: 450px;
  padding: 20px 0px;
  font-size: 18px;
}
.footer .footer-main .right_grid .address {
  color: #fff;
  max-width: 340px;
  padding-bottom: 20px;
}
.footer .footer-main .right_grid .webLink {
  color: #c1bfab;
  font-size: 14px;
}

.why_mydopa .mainTitle {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 20px;
  color: #58595b;
  text-align: center;
}
@media (max-width: 575px) {
  .why_mydopa .mainTitle {
    font-size: 30px;
  }
}
.why_mydopa .d-end {
  align-items: end;
}
.why_mydopa .inner_block {
  display: flex;
  gap: 80px;
  padding-top: 30px;
}
@media (max-width: 991px) {
  .why_mydopa .inner_block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.why_mydopa .inner_block .left_sec .left-content-wrapper .btn-primary {
  background-color: #b8a6cf;
  border-color: #b8a6cf;
  color: #fff;
  font-size: 12px;
  padding: 6px 20px;
  border-radius: 20px;
  text-transform: uppercase;
}
.why_mydopa .inner_block .left_sec .doctors_message {
  padding: 20px 0px;
  line-height: 28px;
  max-width: 80%;
  color: #60626a;
}
@media (max-width: 991px) {
  .why_mydopa .inner_block .left_sec .doctors_message {
    max-width: 100%;
  }
}
.why_mydopa .inner_block .w-50 {
  width: 50%;
}
.why_mydopa .inner_block .right_sec .img-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 240px;
}
@media (max-width: 575px) {
  .why_mydopa .inner_block .right_sec .img-wrapper img {
    height: 120px;
  }
}
@media (max-width: 991px) {
  .why_mydopa .inner_block .w-50 {
    width: 100%;
  }
}

.menu-main ul li a.active,
.menu-main ul li .link.active {
  color: #9780b9;
}

.menu-main ul li a,
.menu-main ul li .link {
  color: #a0a1a2;
  font-weight: 500 !important;
}

.menu-main ul li a::before,
.menu-main ul li .link::before {
  background-color: transparent !important;
}

p {
  font-weight: 500;
}

.home-page .slider-block {
  height: calc(100vh - 73px);
}
@media (max-width: 400px) {
  .home-page .home-banner .text-content {
    width: 80%;
  }
}
.home-page .home-banner .text-display {
  font-size: 46px;
  font-weight: 500;
  line-height: 54px;
  text-transform: capitalize;
  color: #7f58a4;
  max-width: 380px;
  left: 10%;
  position: relative;
}
@media (max-width: 575px) {
  .home-page .home-banner .text-display {
    font-size: 30px;
    line-height: 35px;
    margin-top: 30px !important;
  }
}
.home-page .home-banner .object-cover {
  height: calc(100vh - 73px);
}
.home-page .wellbeing {
  background-color: #f7f8f9;
  padding: 50px 0px;
  padding-bottom: 70px;
}
.home-page .thumbnailSec .thumbnail_slider {
  max-width: 700px;
  margin: 0px auto;
}
.home-page .thumbnailSec .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 580px;
  overflow: hidden;
  transition: 0.2s;
  border-width: 2px !important;
  margin: 10px 4px;
}
.home-page .thumbnailSec .splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.6392156863);
}
.home-page .thumbnailSec .splide__slide img {
  width: auto;
  height: auto;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.home-page .thumbnailSec .left-content-wrapper .purple_title {
  color: #7f58a4;
  font-size: 36px;
  font-weight: 500;
}
.home-page .product-showcase {
  padding-bottom: 60px;
}
@media (max-width: 575px) {
  .home-page .product-showcase {
    margin-top: -40px;
  }
}
@media (min-height: 1000px) {
  .home-page .product-showcase {
    margin-top: -200px;
  }
}
.home-page .feature {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .home-page .product-container {
    width: 90%;
  }
  .home-page .product-container .product-image {
    width: 40%;
  }
  .home-page .product-container .product-details {
    width: 60%;
  }
}

.benefit-block {
  background-image: linear-gradient(84deg, #7b5da7, #b6a3ce);
  padding: 50px 0px;
}
.benefit-block .benefit-item .body1 {
  color: #fff;
  max-width: 190px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
}
.benefit-block .benefit-item .icon-wrapper img {
  width: 90px;
}

.reviewsec {
  padding: 50px 0px;
}
.reviewsec .rating-box {
  border-radius: 25px;
}
.reviewsec .rating-box .star::before {
  color: #f4d371;
}
.reviewsec .mainTitle {
  color: #7f58a4;
  text-align: center;
}
.reviewsec .review-inner_block {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
@media (max-width: 991px) {
  .reviewsec .review-inner_block {
    flex-direction: column;
    gap: 70px 0px;
  }
}
.reviewsec .review-inner_block .rating-box h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.reviewsec .review-inner_block .rating-box .stars {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.reviewsec .review-inner_block .stars i {
  font-size: 16px;
  color: #b5b8b1;
  transition: all 0.2s;
  cursor: pointer;
}
.reviewsec .review-inner_block .all_review {
  text-align: center;
}
.reviewsec .review-inner_block .all_review .rating-box {
  padding-bottom: 10px;
}
.reviewsec .review-inner_block .all_review .review_text p {
  font-weight: 500;
  margin: 0;
}
.reviewsec .review-inner_block .rating_sec {
  position: relative;
}
.reviewsec .review-inner_block .rating_sec .single_star_sec {
  padding-bottom: 10px;
}
.reviewsec .review-inner_block .rating_sec .five_star_rating {
  display: flex;
  align-items: center;
  gap: 30px;
}
.reviewsec .review-inner_block .rating_sec:before, .reviewsec .review-inner_block .rating_sec::after {
  position: absolute;
  content: "";
  background-color: #a09f9f;
  width: 2px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
}
@media (max-width: 991px) {
  .reviewsec .review-inner_block .rating_sec:before, .reviewsec .review-inner_block .rating_sec::after {
    width: 200px;
    height: 1px;
  }
}
.reviewsec .review-inner_block .rating_sec:before {
  left: -80px;
}
@media (max-width: 991px) {
  .reviewsec .review-inner_block .rating_sec:before {
    top: 10px;
    left: 50%;
    margin-left: -100px;
  }
}
.reviewsec .review-inner_block .rating_sec::after {
  right: -80px;
}
@media (max-width: 991px) {
  .reviewsec .review-inner_block .rating_sec::after {
    bottom: -30px;
    left: 50%;
    margin-left: -100px;
    right: unset;
    top: unset;
  }
}
.reviewsec progress.html5::-webkit-progress-bar {
  background-color: #e0e0e0;
  /* Background color */
  border-radius: 0;
}
.reviewsec progress.html5::-webkit-progress-value {
  background-color: #000000;
  /* Progress color */
  border-radius: 0;
}
.reviewsec progress.html5::-moz-progress-bar {
  background-color: #4caf50;
  /* Progress color for Firefox */
}
.reviewsec .add_rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviewsec .add_rating .btn-review {
  background-color: #7f58a4;
  border-color: #7f58a4;
  border-radius: 40px;
  padding: 6px 40px;
}
.reviewsec .add_rating .btn-review:focus {
  outline: none !important;
}
.reviewsec .add_rating .btn-review:active {
  background-color: #7f58a4;
  border-color: #7f58a4;
}
.reviewsec .add_rating .btn-question {
  background-color: #b8a6cf;
  border-color: #b8a6cf;
  border-radius: 40px;
  padding: 6px 30px;
}
.reviewsec .add_rating .btn-question:focus {
  outline: none !important;
}
.reviewsec .add_rating .btn-question:active {
  background-color: #b8a6cf;
  border-color: #b8a6cf;
}
.reviewsec .hrline {
  margin-top: 50px;
  border-top: 1px solid #a09f9f;
}
.reviewsec .review_tabs_sec .nav {
  border-bottom: 1px solid #a09f9f;
  padding-bottom: 20px;
}
.reviewsec .review_tabs_sec .nav-pills > li.active > a,
.reviewsec .review_tabs_sec .nav-pills > li.active > a:focus,
.reviewsec .review_tabs_sec .nav-pills > li.active > a:hover {
  background-color: #f0f1f1;
  color: #000;
}
.reviewsec .review_tabs_sec .nav-pills > li > a {
  color: #000;
  padding: 7px 20px;
}
.reviewsec .review_tabs_sec .tab-content .single_review {
  padding-top: 30px;
}
.reviewsec .review_tabs_sec .tab-content .single_review .author_name {
  margin-top: 5px;
  font-size: 16px;
}
.reviewsec .review_tabs_sec .tab-content .single_review .review_overview {
  margin: 0;
  font-size: 20px;
  padding-bottom: 10px;
}
.reviewsec .review_tabs_sec .tab-content .tab-item {
  color: #000;
  padding: 3px 20px;
  font-size: 14px;
  font-weight: 500;
}
.reviewsec .review_tabs_sec .tab-content .tab-item.active {
  background-color: #f0f1f1;
}
.reviewsec .review_tabs_sec .tab-content .left {
  border-bottom: 1px solid #a09f9f;
  padding-bottom: 20px;
}
.reviewsec .review_tabs_sec .tab-content .tab-question .heading6 {
  font-size: 16px;
}
.reviewsec .review_tabs_sec .tab-content .tab-question .content {
  font-size: 14px;
  line-height: 24px;
}

.faqSec {
  background-color: #8f76b5;
  padding: 50px 0px;
}
.faqSec .mainTitle {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 30px;
  margin-top: 0;
}
.faqSec .theme-accordion-s1 .panel-heading {
  border: none;
}
.faqSec .theme-accordion-s1 .panel-heading a {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 0px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  position: relative;
}
.faqSec .theme-accordion-s1 .panel-heading a:before {
  color: #7f58a4;
}
.faqSec .theme-accordion-s1 .panel-heading .collapsed:before {
  color: #7f58a4;
}
.faqSec .theme-accordion-s1 .panel-heading .collapsed {
  box-shadow: none;
  font-size: 16px;
}
@media (max-width: 768px) {
  .faqSec .theme-accordion-s1 .panel-heading .collapsed {
    padding-right: 20px;
  }
}
.faqSec .theme-accordion-s1 .panel-body {
  padding: 1px 25px 1px;
  box-shadow: none;
}
.faqSec .theme-accordion-s1 .panel-body p {
  color: #ffffff;
  font-size: 15px;
}
.faqSec .panel-group .panel + .panel {
  margin-top: 0px !important;
}
.faqSec .panel {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0 !important;
}
.faqSec .panel-default > .panel-heading {
  background-color: transparent;
  padding: 5px 0px;
}
.faqSec .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none !important;
  padding: 0px 0px 10px;
}
.faqSec .faq-two .col-lg-6 .theme-accordion-s1 .panel-heading a:before {
  color: #7f58a4;
}
.faqSec .theme-accordion-s1 .panel-heading a:before {
  font-family: "themify";
  content: "\e64b";
  font-size: 15px;
  font-size: 0.9375rem;
  position: absolute;
  right: 25px;
  transform: rotate(180deg);
  transition: all 0.3s;
  width: 20px;
  height: 20px;
  background: #b8a6cf;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .faqSec .theme-accordion-s1 .panel-heading a:before {
    right: 10px;
  }
}
.faqSec .theme-accordion-s1 .panel-heading .collapsed:before {
  transform: rotate(0);
}

.modal_review .close {
  margin-top: -2px;
  width: 26px;
  height: 26px;
  border: 1px solid #000;
  border-radius: 50px;
}
.modal_review .modal-title {
  text-align: center;
  font-size: 30px;
  color: #7f58a4;
  font-weight: 600;
}
.modal_review .modal-body {
  display: flex;
  flex-direction: column;
  padding: 25px 40px;
}
.modal_review .modal-body .rating-box {
  padding-bottom: 30px;
}
.modal_review .modal-body .rating-box .star::before {
  font-size: 30px;
}
.modal_review .modal-body form label {
  width: 100%;
}
.modal_review .modal-body form .form-control {
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  min-height: 40px;
}
.modal_review .modal-body form .form-control:focus {
  box-shadow: none;
}
.modal_review .modal-body form .btn-wrapper {
  text-align: center;
}
.modal_review .modal-body form .btn-wrapper .btn-submit {
  background-color: #7f58a4;
  padding: 8px 45px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.modal_review .modal-body form .btn-wrapper .btn-submit:focus {
  outline: none !important;
}
.modal_review .modal-body form .btn-wrapper .btn-submit:hover {
  background-color: #9780b9;
}

.modal_review .modal-body .rating-box .star::before {
  color: #f4d371;
}

.modal_review .modal-body .rating-box .stars {
  padding-top: 10px;
  justify-content: flex-start;
}

.product-container .product-details h1 {
  font-size: 40px !important;
  font-weight: 500;
}
@media (max-width: 991px) {
  .product-container .product-details h1 {
    padding-top: 30px;
  }
}

.about .card p {
  font-size: 16px !important;
  max-width: 80%;
}

.about .text h2 {
  font-size: 34px !important;
}

.product-container .product-details .pricing-options .plan .discount {
  background: #f4d987 !important;
  padding: 5px 10px !important;
}

@media (min-width: 992px) {
  .product-container .product-details .pricing-options .plan {
    width: 33%;
  }
}
.product-container .product-details .buy-now {
  width: 100% !important;
}

.product-container .product-image {
  margin-top: 40px !important;
}

.product-container .product-image .thumbnail-gallery img {
  width: 70px !important;
}
@media (max-width: 575px) {
  .product-container .product-image .thumbnail-gallery img {
    width: 50px !important;
  }
}

.product-container {
  max-width: 1200px !important;
}

.product-container .product-details .pricing-options {
  margin-top: 20px;
}

.product-container .product-details p {
  padding-top: 10px;
}

.breadcrumb-block .bg-linear {
  background: linear-gradient(238deg, rgba(131, 83, 203, 0.4117647059) 0%, rgba(131, 83, 203, 0.1411764706) 99.66%);
}

@media (min-width: 992px) {
  .only-mob {
    display: none;
  }
}
@media (min-width: 767px) {
  .only-sm-mob {
    display: none;
  }
}
@media (max-width: 766px) {
  .only-sm-desk {
    display: none;
  }
}
@media (max-width: 991px) {
  .only-desk {
    display: none;
  }
  .icon-category:before {
    font-size: 30px !important;
  }
  .ph.ph-x:before {
    font-size: 22px;
  }
  #menu-mobile.open .list-nav > ul > li {
    padding: 10px 5px;
  }
  .menu-main ul li a {
    font-size: 20px;
  }
  .shop-banner {
    height: 800px !important;
  }
}
@media (min-width: 576px) and (max-width: 766px) {
  .home-page .home-banner .text-display {
    font-size: 30px;
    line-height: 37px;
    margin-top: 20px !important;
  }
}
.about-content {
  padding-bottom: 50px;
  padding-top: 60px;
}

.modalVideo {
  padding-right: 0px !important;
}
@media (min-width: 768px) {
  .modalVideo .modal-dialog {
    width: 950px;
    margin: 30px auto;
  }
}
.modalVideo .modal-body {
  padding: 0;
}
.modalVideo .close {
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 30px;
  color: #000;
  opacity: 1;
  z-index: 99;
  cursor: pointer;
}
.modalVideo .close:hover {
  opacity: 0.6;
}
.modalVideo .modal-content {
  background-color: #000000;
}

@media (max-width: 991px) {
  .res-mt-0 {
    margin-top: 0 !important;
  }
}
.abt-text {
  flex: 1.5;
  font-size: 24px;
  color: #666;
  font-weight: bold;
  position: relative;
}

.missionsec {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .missionsec {
    flex-direction: column;
  }
}
.missionsec .left-block,
.missionsec .right-block {
  width: 50%;
  padding: 50px 20px;
  background-image: linear-gradient(84deg, #d6c2f3, #ddd5e7);
  border-radius: 5px;
}
@media (max-width: 767px) {
  .missionsec .left-block,
  .missionsec .right-block {
    width: 100%;
  }
}
.missionsec h3 {
  font-size: 36px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #45217d;
}
.missionsec .missionIcon {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.missionsec p {
  max-width: 500px;
  font-size: 16px;
  line-height: 26px;
  color: #200945;
}

.contact-forn-sec {
  gap: 20px;
  padding-top: 20px;
}

.block-button .button-main {
  background-color: #451b83;
}
.block-button .button-main:hover {
  color: #fff;
}

.ptb-50 {
  padding: 50px 0px;
}

.address-sec p {
  padding-bottom: 10px;
}
.address-sec .heading4 {
  padding-bottom: 10px;
}

.tabs .tab-content p {
  padding-bottom: 10px;
}

.tabs .tab-buttons {
  margin-bottom: 10px;
}

.tabs .tb-3 .accordion-content {
  padding-top: 10px;
}

.tabs .tb-4 ul li {
  padding-bottom: 5px;
}

@media (min-width: 1500px) {
  .tabs .tab-buttons .tab {
    padding: 10px 15px !important;
  }
}
@media (min-width: 1501px) {
  .tabs .tab-buttons {
    justify-content: flex-start;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
}
.whatset {
  display: flex;
  align-items: center;
}
.whatset img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 992px) {
  .whatset img {
    width: 90%;
  }
}/*# sourceMappingURL=custom.css.map */