.bg-green {
    display: none;
}

// =============banner=================
.shop-banner{
    margin:0px 20px 0 30px;
    // background-image: url('/website/assets/images/product-shop/shop-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:680px;
    @media (max-width: 769px){
        margin:0px 10px 0 10px;
    }
    @media (max-width: 460px){
        height:450px;
    }
    .container{
        @media (max-width: 460px){
            display: block !important;
        }
    }
    .text-content{
        @media (max-width: 460px){
            // width: 100%;
            // margin-left: 150px;
            // padding-top: 20px;

            // test
        }
    }
    .text-display{
        font-size: 46px;
        line-height: 1.2;
        text-transform: none;
        width:60%;
        color: #7F58A4;
        @media (max-width: 1205px){
            width:100%;
        }
        @media (max-width: 769px){
            font-size: 40px;
        }
        @media (max-width: 460px){
            font-size: 30px;
            text-align:left;
            padding-top: 60px;
        }
    }
    .shop-banner-inner-img{
      padding-right: 90px;
      width:80%;
      padding-top: 60px;
      @media (max-width: 460px){
        padding-right: 60px;
        
    }
    @media (max-width: 1205px){
        width:100%;
    }
    }
}



// ============product-showcase===========
.product-showcase {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}

.product-container {
    display: flex;
    max-width: 1100px;
    padding: 15px;
    gap:50px;
    margin-top: 30px;
    @media (max-width: 1025px){
        gap:20px;
    }
    .product-image {
        margin-top: 90px;
        @media (max-width: 1025px){
            margin-top: 0px;
        }
       .main-img{
        height: 380px;
       }
        img {
            width: 500px; 
        }

        .thumbnail-gallery {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .prev, .next {
                i{
                    font-size: 30px;
                    color: #6f6e6e;
                }
            }
            

            // button {
            //     background: transparent;
            //     color: #666;
            //     font-size: 18px;
            //     padding: 5px 10px;
            //     cursor: pointer;
            //     transition: all 0.3s ease;

            // }

            img {
                width: 50px;
                margin: 0 5px;
                cursor: pointer;
            }
        }
    }

    .product-details {
        margin-left: 90px;
        max-width: 50%;
        color: rgb(72, 71, 71);
        @media (max-width: 1025px){
            margin-left: 30px;
            max-width: 55%;
        }

        h1 {
            color: #7F58A4;
            font-size: 52px;
        }

        p{
            font-size: 15px;
        }
        ul {
            list-style: none;
            padding: 10px;
            padding-top:20px;

            li {
                font-size: 14px;
                margin: 5px 0;
            }
        }

        .pricing-options {
            display: flex;
            gap: 20px;
            margin-top: 20px;

            .plan {
                background: #f2f2f2;
                padding: 10px;
                border-radius: 5px;
                border:1px solid black;
                text-align: center;
position: relative;
                .discount {
                    background: gold;
                    padding: 5px;
                    border-radius: 15px;
                    font-size: 12px;
                    font-weight: 600;
                    position: relative;
                    top:-24px;
                }
                h3{
                    font-weight: 600;
                    font-size: 13px;
                    text-transform: capitalize;
                }
                p{
                    font-size: 11px;
                } 
                span{
                    color:black;
                }
                .rs{
                    font-size: 13px;
                }
                .blk_tag{
                    position: absolute;
                    background-color: #000;
                    font-size: 10px;
                    color: #fff;
                    padding: 4px 15px;
                    border-radius: 20px;
                    left: 50%;
                    margin-left: -48px;
                }
            }
        }

        .buy-now {
            background: black;
            color: white;
            padding: 10px;
            width: 85%;
            margin-top: 40px;
            border: none;
            cursor: pointer;
            border-radius: 20px;
        }
    }
}

@media (max-width: 913px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-details {
        padding-left: 0;
        text-align: center;
    }

    .pricing-options {
        flex-direction: column;
    }
}


// benefit-block
.benefit-block{
    background-color: #A18BC1;
    margin:0px 20px 0 30px;
    img{
        height:80px;
    }
    .body1{
        color:#ffff;
        text-transform: none;
        font-weight: 300;
        font-size: 20px;
    }
}

//about mydopa
// .about {
//     font-family: Arial, sans-serif;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     background: #f8f8f8;
// }
.about {
    .mydopa-section {
        display: flex;
        align-items: center;
        padding: 50px;
        // max-width: 1450px;
        gap: 40px;
    }
    
    .text {
        flex: 1.5;
        font-size: 24px;
        color: #666;
        font-weight: bold;
        width: 30%;
        h2{
            font-weight: 500;
            font-size: 2.5rem;
        }
    }
    
    .cards {
        width: 70%;
        display: flex;
        gap: 20px;
    }
    
    .card {
        background: #e9e1ef;
        background-image: url('/website/assets/images/product-shop/flower.svg');
        background-repeat: no-repeat;
        background-position: top-left;
        background-size: 40%;
        padding: 20px;
        border-radius: 20px;
        text-align: left;
        position: relative;
        // max-width: 450px;
        padding-bottom: 50px;
        
        .image {
            border-radius: 100px;
            overflow: hidden;
            width: 60%;
            margin-left: auto;
            img {
            width: 250px;
            height: 120px;
            border-radius: 120px;
            object-fit:cover;
        }
    }
        
        h3 {
            font-size: 35px;
            font-weight: 500;
            margin-top: 15px;
            color:#666;
            padding-top: 30px;
        }
        
        p {
            font-size: 9px;
            width:68%;
            color: #373636;
            font-weight: 500;
        }
        
        .number {
            position: absolute;
            bottom: 10px;
            right: 30px;
            font-size: 20px;
            color: #fffbfb;
            font-weight: lighter;
        }
    }
    
    @media (max-width: 913px) {
        .mydopa-section {
            flex-direction: column;
            text-align: center;
        }
        
        .cards {
            flex-direction: column;
            align-items: center;
        }
    }
}

//feature
.feature{
    // background-image: url('/website/assets/images/product-shop/feature.jpg');
    // background-image: url("{{ asset('website/assets/images/banner/main-product.png') }}");
    
    margin-bottom: 40px;
    .list-text{
        display: flex;
        justify-content: right;
        padding:10%;
        @media (max-width: 769px) {
            padding:6%;
        }
        li{
            display: flex;
            gap:20px;
            padding-top: 30px;
            @media (max-width: 769px) {
                padding-top: 60px;
            }
            @media (max-width: 500px) {
                padding-top: 30px;
            }
            img{
                height: 50px;
                margin-top: 10px;
            }
            h2{
                color: #7F58A4;
                font-size: 25px;
                font-weight: 500;
                @media (max-width: 769px) {
                    font-size: 20px;
                }
            }
        }
    }
}

//footer
.footer {
    background: #795ba6;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    padding-bottom: 20px;

    .container {
        max-width: 1200px;
        padding: 40px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        flex-wrap: wrap;
        // gap:260px;
        @media (max-width: 1047px) {
            gap:10px;
            justify-content: center;
        }
.footer-logo{
    display: flex;
        align-items: flex-end;
        padding-bottom: 30px;
    
}
        .newsletter {
            max-width: 30%;
            text-align: left;
            @media (max-width: 1047px) {
                max-width: 40%; 
            }
            @media (max-width: 769px) {
                text-align: center; 
            }

            h2 {
                font-size: 1.8rem;
                margin-bottom: 10px;
                font-weight: 500;
            }

            p {
                font-size: 12px;
                color: white;
                margin-bottom: 15px;
                padding: 25px 0px;

                
            }

            .subscribe-form {
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
                border-radius: 30px;
                border: 1px solid #ddd;
                color: white;

                input {
                    width: 70%;
                    padding: 5px;
                    outline: none;
                    background: transparent;
                    padding-left: 20px;
                }

                button {
                    background: #d1a8ff;
                    border: none;
                    color: white;
                    border-radius: 30px;
                    width:50px; 
                    cursor: pointer;
                    font-size: 1.2rem;
                    margin-right: 5px;
                    padding: 4px 10px;
                }
            }
        }

        .footer-logo img {
            max-width: 100px;
        }

        .contact-info {
            max-width: 40%;
            text-align: left;
            display: flex;
            gap:30px;
            margin-right: 30px;
            @media (max-width: 769px) {
                max-width: 100%; 
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            .footer-logo{
                display: flex;
                    align-items: flex-end;
                    padding-bottom: 30px;
                    img{
                        width: 150px;
                        object-fit: contain;
                    }
                
            }
            p {
                max-width: 220px;
                padding-bottom: 20px;

            }

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .footer-bottom {
        background: #553882;
        padding: 15px 0;
        margin-top: 20px;
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
        }
    }

    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column;
            text-align: center;
            justify-content: center;

            .newsletter,
            .contact-info {
                max-width: 100%;
            }

            .subscribe-form {
                justify-content: center;
            }
        }
    }
}

.footer-bottom {
    background-color: #4A2E89;
    display: flex;
    justify-content: space-between;
    padding: 10px 130px 10px 130px;
    color:#bdbdbd;
    @media (max-width: 769px) {
       flex-direction: column;
       justify-content: center;
       text-align: center;
    }
    a{
        color: white;
        font-weight: 500;
        cursor: pointer;
    }
}

.about-us-block{
    .text{
        width: 100% !important;
    }
}

