$primary_color: #7f58a4;

ul {
    margin-bottom: 0 !important;
}

body {
    font-family: "Montserrat", sans-serif !important;
}

.h1,
.h2,
.h3,
h1,
h2,
h3,
p {
    margin-top: 00px !important;
    margin-bottom: 00px !important;
}

.pb-10 {
    padding-bottom: 10px;
}

.main-header-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width:991px) {
        display: none;
    }
}

.menu-main ul li a::before,
.menu-main ul li .link::before {
    bottom: -3px;
    height: 2.5px;
}

.logo .heading4 img {
    height: 50px;
}

.bg-green {
    background-color: rgb(131 83 203 / 19%);
}

.pb-20 {
    padding-bottom: 20px;
}

.d-none {
    display: none;

}

.pt-40 {
    padding-bottom: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-70 {
    padding-bottom: 70px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-70 {
    margin-top: 70px;
}

.mainTitle {
    font-size: 36px;
}

.pt-5 {
    padding-top: 5px;
}

.modal-open {
    padding-right: 0px !important;
    /* or auto-calculated */
}

// =====================================================

.grid-three-sec-inner {
    .grid-three-sec-common {
        .grid-three-sec-block {
            padding-bottom: 40px;
            text-align: center;

            .loader {
                span {

                    font-size: 150px;
                    font-weight: 900;

                    background-clip: text;
                    background-image: linear-gradient(121.84deg, #ff7fba 13.8%, #fad6b4 69.15%);
                    -webkit-text-fill-color: transparent;
                    text-fill-color: transparent;
                    -webkit-background-clip: text;
                }
            }

            h3 {
                font-size: 30px;
                font-weight: 700;
            }
        }
    }
}

.product_sec {
    .product-infor {
        text-align: center;

        .product-price-block {
            justify-content: center;
            padding: 3px 0px;
        }

        .product-name {
            padding: 10px 0px;
            font-size: 22px;
        }
    }

    .tax-details {
        font-size: 14px;
        padding-top: 10px;
    }

    .cart_btn_wrapper {
        padding-top: 20px;

        .cart_btn {
            background-color: #000;
            color: #fff;
            font-size: 14px;
            padding: 9px 20px;
            width: 100%;
        }
    }
}

.product-swiper {
    .swiper-button-prev {
        top: -50px !important;
        right: 40px;
        left: unset !important;
    }

    .swiper-button-next {
        top: -50px !important;
        right: 0;
        left: unset !important;
    }
}

.footer {

    .footer-main {


        .grid-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .left_content_wrapper {
                max-width: 340px;
            }
        }

        .left_grid {
            background-color: #e8e0f5;
            padding: 50px 50px;

            .viamslogo_wrapper {
                img {
                    height: 70px;

                }
            }

            .mydopalogo_wrapper {
                padding: 30px 0px;

                img {
                    width: 210px;
                }
            }

            .footerDescription {
                padding: 20px 0px;
            }
        }

        .right_grid {
            padding: 50px 50px;
            background-color: #8353cb;

            .whiteText {
                color: #fff;
                max-width: 310px;
            }

            .yellowText {
                color: #c2c0b0;
                max-width: 450px;
                padding: 20px 0px;
                font-size: 18px;
            }

            .address {
                color: #fff;
                max-width: 340px;
                padding-bottom: 20px;
            }

            .webLink {
                color: #c1bfab;
                font-size: 14px;

            }
        }
    }
}

.why_mydopa {
    .mainTitle {
        font-size: 36px;
        line-height: 40px;
        font-weight: 600;
        text-transform: capitalize;
        padding-bottom: 20px;
        color: #58595b;
        text-align: center;

        @media(max-width:575px) {
            font-size: 30px;
        }
    }

    .d-end {
        align-items: end;
    }

    .inner_block {
        display: flex;
        gap: 80px;
        padding-top: 30px;

        @media(max-width:991px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .left_sec {

            .left-content-wrapper {
                .btn-primary {
                    background-color: #b8a6cf;
                    border-color: #b8a6cf;
                    color: #fff;
                    font-size: 12px;
                    padding: 6px 20px;
                    border-radius: 20px;
                    text-transform: uppercase;
                }
            }

            .doctors_message {
                padding: 20px 0px;
                line-height: 28px;
                max-width: 80%;
                color: #60626a;

                @media(max-width:991px) {
                    max-width: 100%;
                }
            }
        }

        .w-50 {
            width: 50%;
        }

        .right_sec {
            .img-wrapper {
                img {
                    object-fit: contain;
                    width: 100%;
                    height: 240px;

                    @media(max-width:575px) {
                        height: 120px;
                    }
                }
            }
        }

        @media(max-width:991px) {
            .w-50 {
                width: 100%;
            }
        }

    }
}

.menu-main ul li a.active,
.menu-main ul li .link.active {
    color: #9780b9;
}

.menu-main ul li a,
.menu-main ul li .link {
    color: #a0a1a2;
    font-weight: 500 !important;
}

.menu-main ul li a::before,
.menu-main ul li .link::before {
    background-color: transparent !important;
}

p {
    font-weight: 500;
}

.home-page {
    .slider-block {
        height: calc(100vh - 73px);
        position: relative;
    }

    .home-banner {
        @media(max-width:400px) {
            .text-content {
                width: 80%;
            }
        }

        .text-display {
            font-size: 46px;
            font-weight: 500;
            line-height: 54px;
            text-transform: capitalize;
            color: #7f58a4;
            max-width: 380px;
            left: 10%;
            position: relative;

            @media(max-width:575px) {
                font-size: 30px;
                line-height: 35px;
                margin-top: 30px !important;
            }
        }

        .object-cover {
            height: calc(100vh - 73px);
        }

        @media(max-width:767px) {

            .swiper,
            .slider-item {
                overflow: visible !important;
            }
        }
    }

    // wellbeng sec starts

    .wellbeing {
        background-color: #f7f8f9;
        padding: 50px 0px;
        padding-bottom: 70px;

        @media(max-width:767px) {
            padding-top: 240px;
        }
    }

    // wellbeng sec end



    .thumbnailSec {
        .thumbnail_slider {
            max-width: 700px;
            margin: 0px auto;
        }

        .splide__slide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            width: 580px;
            overflow: hidden;
            transition: .2s;
            border-width: 2px !important;
            margin: 10px 4px;
        }

        .splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
            box-shadow: 2px 3px 8px #000000a3;
        }

        .splide__slide img {
            width: auto;
            height: auto;
            margin: auto;
            display: block;
            max-width: 100%;
            max-height: 100%;
        }

        .left-content-wrapper {
            .purple_title {
                color: #7f58a4;
                font-size: 36px;
                font-weight: 500;
            }
        }
    }



    .product-showcase {
        padding-bottom: 60px;


        @media(max-width:575px) {
            margin-top: -40px;
        }

        @media(min-height:1000px) {
            margin-top: -200px;
        }
    }

    .feature {
        margin-bottom: 0;
    }

    @media(min-width:992px) {
        .product-container {
            width: 90%;

            .product-image {
                width: 40%;
            }

            .product-details {
                width: 60%;
            }
        }

    }




}

.benefit-block {
    background-image: linear-gradient(84deg, #7b5da7, #b6a3ce);
    padding: 50px 0px;

    .benefit-item {
        .body1 {
            color: #fff;
            max-width: 190px;
            line-height: 24px;
            font-size: 18px;
            font-weight: 500;
        }

        .icon-wrapper {
            img {
                width: 90px;
            }
        }
    }
}


.reviewsec {
    padding: 50px 0px;

    .rating-box {
        // padding: 25px 50px;
        border-radius: 25px;

        .star {
            &::before {
                color: #f4d371;
            }
        }
    }

    .mainTitle {
        color: $primary_color;
        text-align: center;
    }

    .review-inner_block {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        align-items: center;

        @media(max-width:991px) {
            flex-direction: column;
            gap: 70px 0px;
        }

        .rating-box h3 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .rating-box .stars {
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: center;
        }

        .stars i {
            font-size: 16px;
            color: #b5b8b1;
            transition: all 0.2s;
            cursor: pointer;
        }

        .all_review {
            text-align: center;

            .rating-box {
                padding-bottom: 10px;
            }

            .review_text {
                p {
                    font-weight: 500;
                    margin: 0;
                }
            }
        }

        .rating_sec {
            position: relative;

            .single_star_sec {
                padding-bottom: 10px;
            }

            .five_star_rating {
                display: flex;
                align-items: center;
                gap: 30px;
            }

            .rating_progrss {}

            .rating_count {}

            &:before,
            &::after {
                position: absolute;
                content: "";
                background-color: #a09f9f;
                width: 2px;
                height: 100px;
                top: 50%;
                margin-top: -50px;

                @media(max-width:991px) {
                    width: 200px;
                    height: 1px;
                }
            }

            &:before {
                left: -80px;

                @media(max-width:991px) {
                    top: 10px;
                    left: 50%;
                    margin-left: -100px;
                }
            }

            &::after {
                right: -80px;

                @media(max-width:991px) {
                    bottom: -30px;
                    left: 50%;
                    margin-left: -100px;
                    right: unset;
                    top: unset;
                }
            }
        }
    }

    progress.html5::-webkit-progress-bar {
        background-color: #e0e0e0;
        /* Background color */
        border-radius: 0;
    }

    progress.html5::-webkit-progress-value {
        background-color: #000000;
        /* Progress color */
        border-radius: 0;
    }

    progress.html5::-moz-progress-bar {
        background-color: #4caf50;
        /* Progress color for Firefox */
    }

    .add_rating {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .btn-review {
            background-color: #7f58a4;
            border-color: #7f58a4;
            border-radius: 40px;
            padding: 6px 40px;

            &:focus {
                outline: none !important;
            }

            &:active {
                background-color: #7f58a4;
                border-color: #7f58a4;
            }
        }

        .btn-question {
            background-color: #b8a6cf;
            border-color: #b8a6cf;
            border-radius: 40px;
            padding: 6px 30px;

            &:focus {
                outline: none !important;
            }

            &:active {
                background-color: #b8a6cf;
                border-color: #b8a6cf;
            }
        }
    }

    .hrline {
        margin-top: 50px;
        border-top: 1px solid #a09f9f;
    }

    .review_tabs_sec {
        .nav {
            border-bottom: 1px solid #a09f9f;
            padding-bottom: 20px;
        }

        .nav-pills>li.active>a,
        .nav-pills>li.active>a:focus,
        .nav-pills>li.active>a:hover {
            background-color: #f0f1f1;
            color: #000;
        }

        .nav-pills>li>a {
            color: #000;
            padding: 7px 20px;

        }

        .tab-content {
            .single_review {
                padding-top: 30px;

                .author_name {
                    margin-top: 5px;
                    font-size: 16px;
                }

                .review_overview {

                    margin: 0;
                    font-size: 20px;
                    padding-bottom: 10px;
                }

                .review_description {}
            }

            .tab-item {

                color: #000;
                padding: 3px 20px;
                font-size: 14px;
                font-weight: 500;

                &.active {
                    background-color: #f0f1f1;
                }
            }

            .left {
                border-bottom: 1px solid #a09f9f;
                padding-bottom: 20px;
            }

            .tab-question {
                .heading6 {
                    font-size: 16px;
                }

                .content {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}


.faqSec {
    background-color: #8f76b5;
    padding: 50px 0px;

    .mainTitle {
        color: #fff;
        font-size: 36px;
        font-weight: 500;
        padding-bottom: 30px;
        margin-top: 0;

    }

    .theme-accordion-s1 {
        .panel-heading {
            border: none;

            a {
                background-color: transparent;
                border: none;
                color: rgb(255, 255, 255);
                padding: 10px 0px;
                font-weight: 600;
                font-size: 16px;
                text-decoration: none;
                width: 100%;
                display: inline-block;
                position: relative;

                @media(max-width:768px) {
                    padding-right: 30px;
                }
            }

            a:before {
                color: #7f58a4;
            }

            .collapsed:before {
                color: #7f58a4;
            }

            .collapsed {
                box-shadow: none;
                font-size: 16px;

                @media(max-width:768px) {
                    padding-right: 20px;
                }
            }
        }

        .panel-body {
            padding: 1px 25px 1px;
            box-shadow: none;

            p {
                color: #ffffff;
                font-size: 15px;
                line-height: 26px;
                padding-bottom: 10px;

                a {
                    color: #f6ffeb;
                }
            }
        }
    }

    .panel-group .panel+.panel {
        margin-top: 0px !important;
    }

    .panel {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0 !important;
    }

    .panel-default>.panel-heading {
        background-color: transparent;
        padding: 5px 0px;
    }

    .panel-group .panel-heading+.panel-collapse>.panel-body {
        border-top: none !important;
        padding: 0px 0px 10px;
    }

    .faq-two .col-lg-6 .theme-accordion-s1 .panel-heading a:before {
        color: #7f58a4;
    }

    .theme-accordion-s1 .panel-heading a:before {
        font-family: "themify";
        content: "\e64b";
        font-size: 15px;
        font-size: 0.9375rem;
        position: absolute;
        right: 25px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
        width: 20px;
        height: 20px;
        background: #b8a6cf;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;

        @media(max-width:768px) {
            right: 0px;
        }
    }

    .theme-accordion-s1 .panel-heading .collapsed:before {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}





//////////////////////////////////home page end////////////////////////

.modal_review {
    .close {
        margin-top: -2px;
        width: 26px;
        height: 26px;
        border: 1px solid #000;
        border-radius: 50px;
    }

    .modal-title {
        text-align: center;
        font-size: 30px;
        color: $primary_color;
        font-weight: 600;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        padding: 25px 40px;

        .rating-box {
            padding-bottom: 30px;

            .star {
                &::before {
                    font-size: 30px;

                }
            }

        }

        form {
            label {
                width: 100%;
            }

            .form-control {
                border: 1px solid #e5e5e5;
                padding: 10px;
                border-radius: 5px;
                box-shadow: none;
                min-height: 40px;

                &:focus {
                    box-shadow: none;
                }
            }

            .btn-wrapper {
                text-align: center;

                .btn-submit {
                    background-color: $primary_color;
                    padding: 8px 45px;
                    border-radius: 20px;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    transition: .3s;

                    &:focus {
                        outline: none !important;
                    }

                    &:hover {
                        background-color: #9780b9;
                    }
                }
            }
        }
    }
}

.modal_review .modal-body .rating-box .star::before {
    color: #f4d371;
}

.modal_review .modal-body .rating-box .stars {
    padding-top: 10px;
    justify-content: flex-start;
}

.product-container .product-details h1 {
    font-size: 40px !important;
    font-weight: 500;


    @media(max-width:991px) {
        padding-top: 30px;
    }
}

.about .card p {
    font-size: 16px !important;
    max-width: 80%;
}

.about .text h2 {
    font-size: 34px !important;
}

.product-container .product-details .pricing-options .plan .discount {
    background: #f4d987 !important;
    padding: 5px 10px !important;
}

@media(min-width:992px) {
    .product-container .product-details .pricing-options .plan {
        width: 33%;
    }
}

.product-container .product-details .buy-now {
    width: 100% !important;
}


.product-container .product-image {
    margin-top: 40px !important;
}

.product-container .product-image .thumbnail-gallery img {
    width: 70px !important;

    @media(max-width:575px) {
        width: 50px !important;
    }
}

.product-container {
    max-width: 1200px !important;
}

.product-container .product-details .pricing-options {
    margin-top: 20px;
}

.product-container .product-details p {
    padding-top: 10px;
}

.breadcrumb-block {
    .bg-linear {
        background: linear-gradient(238deg, #8353cb69 0%, #8353cb24 99.66%);
    }
}


@media(min-width:992px) {
    .only-mob {
        display: none;
    }
}

@media(min-width:767px) {
    .only-sm-mob {
        display: none;
    }
}

@media(max-width:766px) {
    .only-sm-desk {
        display: none;
    }

}

@media(max-width:991px) {
    .only-desk {
        display: none;
    }

    .icon-category:before {
        font-size: 30px !important;
    }

    .ph.ph-x:before {
        font-size: 22px;
    }

    #menu-mobile.open .list-nav>ul>li {
        padding: 10px 5px;
    }

    .menu-main ul li a {
        font-size: 20px;
    }

    .shop-banner {
        // background-position: 0px -300px !important;
        height: 800px !important;
    }
}

@media(min-width:576px) and (max-width:766px) {
    .home-page .home-banner .text-display {
        font-size: 30px;
        line-height: 37px;
        margin-top: 20px !important;
    }
}

.about-content {
    padding-bottom: 50px;
    padding-top: 60px;
}


.modalVideo {
    padding-right: 0px !important;

    @media (min-width: 768px) {
        .modal-dialog {
            width: 950px;
            margin: 30px auto;
        }
    }

    .modal-body {
        padding: 0;

    }

    .close {
        position: absolute;
        right: 10px;
        top: 4px;
        font-size: 30px;
        color: #000;
        opacity: 1;
        z-index: 99;
        cursor: pointer;

        &:hover {
            opacity: .6;
        }
    }

    .modal-content {
        background-color: #000000;
    }
}

@media(max-width:991px) {
    .res-mt-0 {
        margin-top: 0 !important;
    }
}

.abt-text {
    flex: 1.5;
    font-size: 24px;
    color: #666;
    font-weight: bold;
    position: relative;

}

.bg-block {
    // background-image: linear-gradient(84deg, #d6c2f3, #ddd5e7);
    // padding: 30px;

}


.missionsec {
    display: flex;
    gap: 20px;

    @media(max-width:767px) {
        flex-direction: column;
    }

    .left-block,
    .right-block {
        width: 50%;
        padding: 50px 20px;
        background-image: linear-gradient(84deg, #d6c2f3, #ddd5e7);

        border-radius: 5px;

        @media(max-width:767px) {
            width: 100%;
        }
    }

    h3 {
        font-size: 36px;
        padding-bottom: 20px;
        padding-top: 20px;
        color: #45217d;
    }

    .missionIcon {
        width: 100px;
        object-fit: contain;
    }

    p {
        max-width: 500px;
        font-size: 16px;
        line-height: 26px;
        color: #200945;
    }
}

.contact-forn-sec {
    gap: 20px;
    padding-top: 20px;
}

.block-button {
    .button-main {
        background-color: #451b83;
        ;

        &:hover {
            color: #fff;
        }
    }
}

.ptb-50 {
    padding: 50px 0px;
}

.address-sec {
    p {
        padding-bottom: 10px;
    }

    .heading4 {
        padding-bottom: 10px;
    }
}

.tabs .tab-content p {

    padding-bottom: 10px;
}

.tabs .tab-buttons {
    margin-bottom: 10px;
}

.tabs .tb-3 .accordion-content {
    padding-top: 10px;
}

.tabs .tb-4 ul li {
    padding-bottom: 5px;
}

@media(min-width:1500px) {
    .tabs .tab-buttons .tab {
        padding: 10px 15px !important;
    }
}

@media (min-width: 1501px) {
    .tabs .tab-buttons {
        justify-content: flex-start;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.whatset {
    display: flex;
    align-items: center;

    img {
        height: 400px;
        object-fit: cover;

        @media(min-width:992px) {
            width: 90%;
        }

        @media(max-width:767px) {
            margin-bottom: 30px;

        }
    }

    @media(max-width:767px) {
        flex-direction: column;
    }
}

.to-top {
    background-color: var(--black);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 30px;
    box-shadow: 0px 5px 25px rgba(58, 64, 67, 0.2);
    cursor: pointer;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &:hover {
        color: #1f1f1f;
        text-decoration: underline;
    }
}

.to-top.active {
    opacity: 1;
    visibility: visible;
}

.to-top i {
    color: #fff;
}

.contactNumber {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.banner-review {
    .item {


        p {
            font-size: 12px;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
    }

    h2,
    p {
        color: #451b83;
    }

    h2 {
        font-size: 16px;
        max-width: 90%;
        padding-bottom: 10px;
        line-height: 22px;

        @media(min-width:575px) {
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
    }
}

.banner-review {
    // position: absolute !important;
    // bottom: 50px;
    z-index: 3;
    max-width: 420px;
    left: 30px;
    background-color: #e0d8edcf;
    cursor: default;

    @media(max-width:575px) {
        max-width: 320px;
        left: unset;
    }

    

    @media(max-width:766px) {
        // padding-top: 30px;
        bottom: -260px;
        z-index: 9;
    }

    @media(min-width:766px) {
        left: 50px;
        min-height: 250px;
    }
@media(min-height:799px) and (max-height:840px) and (max-width:766px) {
       bottom: -400px;
        left: unset;
    }
    @media(min-height:841px) and (max-height:870px) and (max-width:766px) {
               bottom: -470px;
        left: unset;
    }
    @media(min-height:871px) and (max-width:766px) {
               bottom: -500px;
        left: unset;
    }
    @media(max-height:798px) and (max-width:766px) {
                     bottom: -370px;
        left: unset;
    }
    .carousel-control.right,
    .carousel-control.left {
        background-image: none !important;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 3px 0px #d0d0d0;
        top: 50%;
        margin-top: -15px;

        span {
            color: #45217d;
        }
    }

    .carousel-control.right {
        right: -10px;
    }

    .carousel-control.left {
        left: -10px;

    }

    .carousel-inner {
        width: 100%;
        overflow: hidden;
        box-shadow: 0px 0px 11px 0px #888181;
        border-radius: 10px;

        border: 5px solid #ffffff85;

        .item {
            padding: 20px;
             @media(min-width:766px) {
                min-height: 240px; 
            }
        }
    }

    .rating-box {
        padding: 5px 0px;
    }

    // @media(min-height: 800px){
    //         bottom: 20%;
    // }
    .stars {
        .bx {
            color: #FF9800;
        }
    }
}

.container-flex {
    display: flex;
    flex-direction: column;

    gap: 0px;

    @media(min-width:767px) {
        justify-content: space-between;
    }

    @media(max-width:575px) {
        align-items: center;
    }

}

.mt-10 {
    margin-top: 10px;
}